# Example configuration file for redis-shatter

# Options in this file behave exactly like command-line options. Any option
# that's valid here is valid on the command line, and vice versa.

# Number of processes to run. Must be at least 1 (obviously). Incoming
# connections are randomly assigned to one of the worker processes.
--parallel=8

# Port and interface on which to listen. If omitted, the defaults are to listen
# on all interfaces on port 6379.
--interface=127.0.0.1
--port=6379

# List of backends. Order doesn't matter here. Keys are distributed over these
# backends using a ketama continuum with the FNV1A_64 hash function.
--backend=localhost:6381
--backend=localhost:6382
--backend=localhost:6383
--backend=localhost:6384
--backend=localhost:6385
--backend=localhost:6386
--backend=localhost:6387
--backend=localhost:6388

# Hash field delimiters. These can be used to make sure keys hash to the same
# backend.
#
# How it works:
# 1. If a key contains both delimiters, then only the portion of the
#    key between the delimiters is hashed to determine which server to send the
#    key to.
# 2. If a key contains only the begin delimiter, then the portion of the key
#    after the begin delimiter is used.
# 3. If a key contains only the end delimiter, then the portion of the key
#    before the end delimiter is used.
# 4. If the delimiters are the same and a key contains only one delimiter, then
#    it is treated as an end delimiter. (What happens is the same as case 3.)
# 5. If the end delimiter comes before the begin delimiter, then only
#    the end delimiter is used. (What happens is the same as case 3.)
#
# Example: --hash-field-begin={ --hash-field-end=}
#   xy{z}, xy{z, z, x{z}y, z}xy, z}x{y all hash to the same server
#
# Example: --hash-field-begin=: --hash-field-end=:
#   xy:z:, z, z:xy all hash to the same server
#   xy:z, xy hash to the same server, which may not be the same as above
#
# Example: --hash-field-end=:
#   xy:z::, xy, xy: all hash to the same server
#   xyz, xyz:w hash to the same server, which may not be the same as above
#
# Example: --hash-field-begin=:
#   xy:z, z, x:y:z all hash to the same server
#   xyz, w:xyz hash to the same server, which may not be the same as above
--hash-field-begin={
--hash-field-end=}

# You can import the settings in another config file by specifying it like this:
# --config-file=other_shatter_config_file.conf
# Any options specified before this option can be overridden by the imported
# file; any options specified after this option can override options in the
# imported file.
